@(message: String)

@main("All Social Dashboard") {

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="@routes.Assets.at("images/logo.png")">
    </a>
    <h1>All Social Dashboard</h1>
    <p>Keep track of all of your favourite hashtags</p>
    <a type="button" class="btn btn-lg btn-default" href="#"><span class="glyphicon"></span>Add hashtags to follow</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/sofiaaacole/socialdashboard"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  @if(message != null){
  <div class="alert alert-success text-center" role="alert">
    @message
  </div>
  }
  <!-- <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-scala" class="alert-link">Getting Started with Scala/Play on Heroku</a> tutorial.
  </div> -->
  <hr>
  <div class="row">
    <div class="col-md-6">
          <!-- image blocks -->
      <div id="gallery" class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <a href="#" class="thumbnail">
                  <img src="insert url here">
              </a>
          </div>
      </div> <!-- container -->
      <script src="/assets/javascripts/hello.js"></script>
    </div>
  </div> <!-- row -->
</div>

}
